<div class="container">
  <div class="image">Image: {{ elements['content']['#image'] }}</div>
  <div class="title">Title: {{ elements['content']['#title'] }}</div>
  <div class="description">Description: {{ elements['content']['#description'] }}</div>
</div>