<div class="container">
  <div class="image">{{ form.image }}</div>
  <div class="title">{{ form.title }}</div>
  <div class="description">{{ form.description }}</div>
  <div class="ip_add">{{ form.ip_add }}</div>
</div>